h1 {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;

  span.title__word--secondary {
    opacity: 0.7;
  }
  span.title__word--tertiary {
    opacity: 0.3;
  }
  span.title__word--primary {
    opacity: 1;
    text-transform: uppercase;
  }
}
