h1 { font-family: system-ui, -apple-system, sans-serif; }
h1 span.title__word--secondary { opacity: 0.7; }
h1 span.title__word--tertiary  { opacity: 0.3; }
h1 span.title__word--primary   { opacity: 1; text-transform: uppercase; }
